<html>
  <body>
    <form
      id="auth_form"
      action="http://localhost:5000/home"
      method="POST"
      style="display: none;"
    >
      <p>Name <input type="text" name="name" id="name" /></p>
      <p>Name <input type="text" name="password" id="password" /></p>
    </form>

    <script>
      var bar = {{ flag }};

      document.getElementById('auth_form').visibility = "false"

      if (bar == 1){
         name = window.prompt("Enter name: ")
      }

      if (bar == 0){
         name = window.prompt("Invalid password!!\nEnter name: ")
      }

      password = window.prompt("Enter password: ")
      document.getElementById("name").value = name
      document.getElementById("password").value = password
      document.getElementById('auth_form').submit();
    </script>
  </body>
</html>
