<!doctype html>
<html>
   <body>
      <h1>
         Hello
      </h1>
      <table border = 1>
         {% for key, value in credentials.items() %}
            <tr>
               <th> {{ key }} </th>
               <td> {{ value }} </td>
            </tr>
         {% endfor %}
      </table>
   </body>
</html>